
body {
    background-color: rgb(20, 40, 60);
    color: rgb(240, 248, 255);
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1.3em;
}

button {
    background-color: rgb(255, 111, 111);
    padding: 10px;
    width: 200px
}

.enabled {
    background-color: rgb(3, 114, 226);
}


.container {
    margin-top: 100px;
}

matchup-row {
   margin: 100px;
} 